@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Apply consistent box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Ensure the root element does not have padding that could cause overflow */
#root {
  max-width: 100%;
  margin: 0;
  text-align: center;
}

h1,
p {
  margin: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
