@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  /* background-color: #dcff50; - lime color*/
}
body {
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
}
body::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  background: #0e0e0e;
  color: #f0f0f0;
  padding: 14px 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #a3a3a3;
  text-decoration: none;
  cursor: pointer;
}
nav ul li a:hover {
  color: #f5ffcb;
}

section {
  padding: 100px;
}

.home-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section,
.projects-section,
.contact-section {
  background: #f4f4f4;
  margin-top: 20px;
}
