@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: white;
  /* background-color: #dcff50; - lime color*/
}

body::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  background: #0e0e0e;
  color: #f0f0f0;
  padding: 14px 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #;
  text-decoration: none;
  cursor: pointer;
}
nav ul li a:hover {
  color: #f5ffcb;
  /* color: #; */
}

section {
  padding: 100px;
}

.home-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section,
.projects-section,
.contact-section {
  margin-top: 20px;
}
.main-navigation {
  box-shadow: 0 2px 10px 0 rgba(147, 147, 147, 0.2);
}

/* styles.css */
.margin-10p {
  margin: 5%;
}

.margin-20p {
  margin: 20%;
}

/* Add more as needed */
